/* nav bar */
#mainNav {
    border-color: rgba(34, 34, 34, 0.05);
    /* nav bar from bootstrap has a colour already */
    background-color: brown !important;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
    height: 80px;
}

/* styling of name */
.navbar-brand {
    padding-left: 100px;
    margin-left: 0;
    font-weight: 900;
    color: brown;
}

/* nav bar buttons to the right */
.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

/* each element within the nav bar buttons */
#mainNav .navbar-nav .nav-link {
    margin-right: 15px; 
    color: brown;
}

/* button styling */
.btn-border {
    border-radius: 20px;
    background-color: rgb(250, 209, 209);
    box-shadow: 12px 12px 2px 1px red;
}

/* hover */
#mainNav a:hover,
#mainNav a:focus:hover {
    color: purple !important;
    font-weight: 900;
}

/* jumbotron/hero */
.hero-container {
    background-image: url(../images/pixel-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* all the content within the container */
.hero-content {
    width: 100%;
    min-width: 500px;
    max-width: 100%;
    max-height: 100%;
    color: white;
    text-align: right;
}

/* image needed to be in a separate element */
.image-container {
    max-width: 100%;
    max-height: 100%;
}

/* image positioning */
.image-container img {
    /* size of image */
    width: 400px;
    /* the image will automatically adjust its height to allow its content to be displayed correctly within the img-fluid container */
    height: auto;
    /* scaled to maintain its aspect ratio while fitting within the element's content box */
    object-fit: contain; 
    /* Displays an element as a block element (like <p>). It starts on a new line, and takes up the whole width */
    display: block;
    /* Specifying auto determines the left and right margins by setting them equally.  0 determines that the top and bottom margins will both be set to 0 */
    margin: 0 auto; 
    border-radius: 100px;
}

/* hover effects for the text only within the hero banner */
.heroSubtitle h1 span:hover,
.heroSubtitle h1 span:focus:hover {
    color: purple;
    font-weight: bold;
}

.heroSubtitle p span:hover,
.heroSubtitle p span:focus:hover {
    color: purple;
    font-weight: bold;
}

/* each section */
section.main-content {
    position: relative;
    padding: 70px 0;
    margin: 0;
}

/* each section's styling */
section.main-content h2 {
    font-size: 50px;
    margin-top: 0;
}

/* text font size */
.content-section p {
    font-size: 18px;
}

/* all sections */
#about, #projects, #skills {
    color: brown;
}

/* projects section */
/* all cards styling */
.card-content {
    display: flex;
    justify-content: center;
}

.card-content h5 {
    color: brown;
    font-weight: 700;
}

.card-content p {
    color: brown;
}

/* card buttons */
.card-content a {
    border-radius: 20px;
    background-color: brown;
    border-color: brown;
    box-shadow: 12px 12px 2px 1px red;
    color: rgb(250, 209, 209);
}

.card-content a:hover,
.card-content a:focus:hover {
    color: white;
    background-color: purple;
    border-color: rgb(70, 7, 70);
}

/* card images */
.card-content .card-img {
    /* making sure all images are the same size */
    height: 300px; 
    /* keeps the aspect ratio ie no shrinking or squishing whilst keeping the image inside the container */
    object-fit: cover;
}

/* card text to align with each other horizontally, height wise */
.card-body h5 {
    height: 60px;
}

.card-body p {
    height: 210px;
}

/* border of cards  */
.card-border {
    border: double 10px rgb(250, 209, 209);
}

/* skills section */
.content-section .text-left {
    margin-left: 20px;
    text-align: left;
}

/* footer/contact me section */
footer {
    padding: 25px 0;
    text-align: center;
    background-color: rgb(250, 209, 209);
    color: brown;
}

/* the group of buttons */
.footer-btns {
    margin: 30px;
}

/* spacing between the buttons themselves */
.footer-btns a {
    margin: 0px 50px;
}

/* styling of button */
.btn-contact {
    color: brown;
    border-color: brown;
    box-shadow: 12px 12px 2px 1px red;
}

/* footer button hover styling */
.footer-btns a:hover,
.footer-btns a:focus:hover {
    color: white;
    background-color: purple;
    border-color: rgb(70, 7, 70);
}